@use "../../styles/global/colors&effects" as *;
.about-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: black;
  padding: 10px;
  display: flex;

  overflow: hidden;
  @media (max-width: 787px) {
    flex-wrap: wrap;
    height: 100%;
  }
  .left-section {
    width: 50%;
    background-color: black;
    position: relative;
    height: 100%;
    background-image: url("../../images/homePage/Elegant-Wooden-Chair-1.webp");
    @include backgroundSetting;
    border-radius: 10px;
    overflow: hidden;
    &::after {
      @include shadowEffect;
      animation: changeShadow infinite ease 10s;
    }
    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 90%;
    }
    @media (max-width: 787px) {
      width: 100%;
      height: 70vh;
    }
  }
  .right-section {
    color: white;
    width: 50%;
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .slide {
      transition: 0.5s;
      img {
        transition: 0.5s;
      }
    }
    .up,
    .mid,
    .bottom {
      height: calc(95% / 3);
    }
    .up,
    .bottom {
      display: flex;
      gap: 15px;
      align-items: center;
      .left {
        border-radius: 10px;
        align-self: stretch;
        border: 1px solid rgba(255, 217, 0, 0.17);
        padding: 10px;
        width: 50%;
        align-content: center;
        h1 {
          margin-bottom: 10px;
          color: rgba(238, 183, 44, 0.709);
        }
      }
      .right {
        align-self: stretch;
        width: 50%;
        img {
          height: 100%;
          border-radius: 10px;
          width: 100%;
        }
      }

      @media (max-width: 787px) {
        .left,
        .right {
          width: 100%;
        }
      }
    }
    .mid {
      display: flex;
      gap: 15px;

      .box {
        width: calc(100% / 3);
        border: 1px solid rgba(255, 217, 0, 0.17);
        padding: 20px;
        text-align: center;

        flex-direction: column;
        gap: 10px;
        @include centerElements;
        border-radius: 10px;
        @media (max-width: 787px) {
          width: 100%;
        }
        @media (max-width: 1080px) {
          font-size: 13px;
          text-align: center;
          .stars {
            width: 15%;
            img {
              width: 100%;
            }
          }
        }
        h2 {
          color: rgba(238, 183, 44, 0.709);
        }
        .stars {
          display: flex;
          gap: 2px;
          justify-content: center;
        }
      }
    }
    .bottom {
      .left {
        text-align: center;
        h1 {
          position: relative;
          &::after,
          &::before {
            position: absolute;
            content: "";
            width: 50px;
            height: 3px;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(238, 183, 44, 0.709);
          }
          &::after {
            right: 10%;
          }
          &::before {
            left: 10%;
          }
        }
      }
    }

    @media (max-width: 787px) {
      width: 100%;
    }

    .up,
    .bottom,
    .mid {
      @media (max-width: 787px) {
        flex-wrap: wrap;
        height: 100%;
      }
    }
  }
}
